# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# tests
tests/
test

# vscode
.vscode

# CLion
.gradle

# CMake
CMakeLists.txt
cmake-build-debug/
.idea
